/* Positioning Carousel Captions and the Center */

.carousel-inner>.item {
    position: relative;
    max-height: 600px;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#edu-text-centered {
    font-size: 1.5rem;
    position: absolute;
    top: 60%;
    left: 55%;
    transform: translate(-50%, -50%);
}