/* Positioning Carousel Captions and the Center */

/* .carousel-inner>.item {
    position: relative;
    max-height: 600px;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
} */

/* Custom CSS Styles */

#edu-text-centered {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.edu-bg-primary {
    background-color: #289BDE;
}

.edu-carousel-brightness {
    filter: brightness(0.5)
}